<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.nantian.mapper.NtPerAliasMapper" >
  <resultMap id="BaseResultMap" type="cn.com.nantian.pojo.NtPerAlias" >
    <result column="PER_ID" property="perId" jdbcType="INTEGER" />
    <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="INTEGER" />
    <result column="IN_PROJECT_NAME" property="inProjectName" jdbcType="VARCHAR" />
    <result column="IN_COMPANY_NAME" property="inCompanyName" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PER_ID, PROJECT_NUMBER, IN_PROJECT_NAME, IN_COMPANY_NAME, ID_NO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.nantian.pojo.NtPerAliasExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.com.nantian.pojo.NtPerAliasExample" >
    delete from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.nantian.pojo.NtPerAlias" >
    insert into nt_per_alias (PER_ID, PROJECT_NUMBER, IN_PROJECT_NAME, 
      IN_COMPANY_NAME, ID_NO)
    values (#{perId,jdbcType=INTEGER}, #{projectNumber,jdbcType=INTEGER}, #{inProjectName,jdbcType=VARCHAR}, 
      #{inCompanyName,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.nantian.pojo.NtPerAlias" >
    insert into nt_per_alias
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        PER_ID,
      </if>
      <if test="projectNumber != null" >
        PROJECT_NUMBER,
      </if>
      <if test="inProjectName != null" >
        IN_PROJECT_NAME,
      </if>
      <if test="inCompanyName != null" >
        IN_COMPANY_NAME,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="projectNumber != null" >
        #{projectNumber,jdbcType=INTEGER},
      </if>
      <if test="inProjectName != null" >
        #{inProjectName,jdbcType=VARCHAR},
      </if>
      <if test="inCompanyName != null" >
        #{inCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.nantian.pojo.NtPerAliasExample" resultType="java.lang.Integer" >
    select count(*) from nt_per_alias
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nt_per_alias
    <set >
      <if test="record.perId != null" >
        PER_ID = #{record.perId,jdbcType=INTEGER},
      </if>
      <if test="record.projectNumber != null" >
        PROJECT_NUMBER = #{record.projectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.inProjectName != null" >
        IN_PROJECT_NAME = #{record.inProjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.inCompanyName != null" >
        IN_COMPANY_NAME = #{record.inCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nt_per_alias
    set PER_ID = #{record.perId,jdbcType=INTEGER},
      PROJECT_NUMBER = #{record.projectNumber,jdbcType=INTEGER},
      IN_PROJECT_NAME = #{record.inProjectName,jdbcType=VARCHAR},
      IN_COMPANY_NAME = #{record.inCompanyName,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>